body, html {
  font-family: "Century Gothic", Trebuchet, sans-serif;
  background-color: ##aaaa99
}
    html:before, html:after, body:before, body:after {
        content: "";
        background: /*#484732; */#dad8bb;
        position: fixed;
        display: block;
        z-index: 5;
    }
    html:before {
        height: 10px;
        left: 10px;
        right: 10px;
        top: 10px;
    }
    html:after {
        width: 10px;
        top: 10px;
        right: 10px;
        bottom: 10px;
    }
    body:before {
        height: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
    }
    body:after {
        width: 10px;
        top: 10px;
        bottom: 10px;
        left: 10px;
    }
    
    
    body {
      font-family: 'Bilbo Swash Caps', "Century Gothic", Arial, sans-serif;
      background-color: #aaaa99;
      color: #484732;
    }
    h1 {
      font-size: 10em;
      text-align: center;
      vertical-align: middle;
    }
    .stop-looking-at-my-divs {
      margin-top: 20%;
    }
