html:before, html:after, body:before, body:after {
  content: "";
  background: #BFFFE9;
  position: fixed;
  display: block;
  z-index: 5;
}

html:before {
  height: 40px;
  left: 0px;
  right: 0px;
  top: 0px;
}

html:after {
  width: 40px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

body:before {
  height: 40px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

body:after {
  width: 40px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

body {
  font-family: 'Cherry Swash', cursive;
  color: #BFFFE9;
  background-color: #8f8f8f;
}

h1 {
  font-size: 7em;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
}

h2 {
  font-size: 4em;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
}

hr {
  border: 3px solid #BFFFE9;
  border-radius: 3px;
}

.stop-looking-at-my-divs {
  padding-left: 8%;
  padding-right: 8%;
}

.please-stop-looking {
  padding-left: 30%;
  padding-right: 30%;
}

#pinned {
  position: fixed;
  top: 0px;
  left: 0px;
  max-width: 40x;
  max-height: 40px;
  width: auto;
  height: auto;
  z-index: 10;
}

.no-really-please-stop {
  padding-top: 15%;
  padding-left: 10%;
  padding-right: 10%;
}

.blink {
  -webkit-animation: blink 2s linear .05s infinite;
  -moz-animation: blink 2s linear .05s infinite;
  -ms-animation: blink 2s linear .05s infinite;
  -o-animation: blink 2s linear .05s infinite;
  animation: blink 2s linear .05s infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}


.blink2 {
  -webkit-animation: blink2 2s linear .15s infinite;
  -moz-animation: blink2 2s linear .15s infinite;
  -ms-animation: blink2 2s linear .15s infinite;
  -o-animation: blink2 2s linear .15s infinite;
  animation: blink2 2s linear .15s infinite;
}

@-webkit-keyframes blink2 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes blink2 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes blink2 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes blink2 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blink2 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

.blink3 {
  -webkit-animation: blink3 2s linear .25s infinite;
  -moz-animation: blink3 2s linear .25s infinite;
  -ms-animation: blink3 2s linear .25s infinite;
  -o-animation: blink3 2s linear .25s infinite;
  animation: blink3 2s linear .25s infinite;
}

@-webkit-keyframes blink3 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes blink3 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes blink3 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes blink3 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blink3 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

.blink4 {
  -webkit-animation: blink4 2s linear .35s infinite;
  -moz-animation: blink4 2s linear .35s infinite;
  -ms-animation: blink4 2s linear .35s infinite;
  -o-animation: blink4 2s linear .35s infinite;
  animation: blink4 2s linear .35s infinite;
}

@-webkit-keyframes blink4 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes blink4 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes blink4 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes blink4 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blink4 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

.blink5 {
  -webkit-animation: blink5 2s linear .45s infinite;
  -moz-animation: blink5 2s linear .45s infinite;
  -ms-animation: blink5 2s linear .45s infinite;
  -o-animation: blink5 2s linear .45s infinite;
  animation: blink5 2s linear .45s infinite;
}

@-webkit-keyframes blink5 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes blink5 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes blink5 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes blink5 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blink5 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

.blink6 {
  -webkit-animation: blink6 2s linear .55s infinite;
  -moz-animation: blink6 2s linear .55s infinite;
  -ms-animation: blink6 2s linear .55s infinite;
  -o-animation: blink6 2s linear .55s infinite;
  animation: blink6 2s linear .55s infinite;
}

@-webkit-keyframes blink6 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes blink6 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes blink6 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes blink6 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blink6 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

.blink7 {
  -webkit-animation: blink7 2s linear .65s infinite;
  -moz-animation: blink7 2s linear .65s infinite;
  -ms-animation: blink7 2s linear .65s infinite;
  -o-animation: blink7 2s linear .65s infinite;
  animation: blink7 2s linear .65s infinite;
}

@-webkit-keyframes blink7 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes blink7 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes blink7 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes blink7 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blink7 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

.blink8 {
  -webkit-animation: blink8 2s linear .75s infinite;
  -moz-animation: blink8 2s linear .75s infinite;
  -ms-animation: blink8 2s linear .75s infinite;
  -o-animation: blink8 2s linear .75s infinite;
  animation: blink8 2s linear .75s infinite;
}

@-webkit-keyframes blink8 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes blink8 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes blink8 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes blink8 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blink8 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

.blink9 {
  -webkit-animation: blink9 2s linear .85s infinite;
  -moz-animation: blink9 2s linear .85s infinite;
  -ms-animation: blink9 2s linear .85s infinite;
  -o-animation: blink9 2s linear .85s infinite;
  animation: blink9 2s linear .85s infinite;
}

@-webkit-keyframes blink9 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes blink9 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes blink9 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes blink9 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blink9 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

.blink10 {
  -webkit-animation: blink10 2s linear .95s infinite;
  -moz-animation: blink10 2s linear .95s infinite;
  -ms-animation: blink10 2s linear .95s infinite;
  -o-animation: blink10 2s linear .95s infinite;
  animation: blink10 2s linear .95s infinite;
}

@-webkit-keyframes blink10 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes blink10 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes blink10 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes blink10 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blink10 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

.blink11 {
  -webkit-animation: blink11 2s linear 1.05s infinite;
  -moz-animation: blink11 2s linear 1.05s infinite;
  -ms-animation: blink11 2s linear 1.05s infinite;
  -o-animation: blink11 2s linear 1.05s infinite;
  animation: blink11 2s linear 1.05s infinite;
}

@-webkit-keyframes blink11 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes blink11 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes blink11 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes blink11 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blink11 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  50.01% { opacity: 1; }
  100% { opacity: 1; }
