
    html:before, html:after, body:before, body:after {
        content: "";
        background: /*#484732; */#1f7da5;
        position: fixed;
        display: block;
        z-index: 5;
    }
    html:before {
        height: 20px;
        left: 0px;
        right: 0px;
        top: 0px;
    }
    html:after {
        width: 20px;
        top: 0px;
        right: 0px;
        bottom: 0px;
    }
    body:before {
        height: 20px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
    body:after {
        width: 20px;
        top: 0px;
        bottom: 0px;
        left: 0px;
    }
    
    
    body {
      font-family: 'Cherry Swash', cursive;
      background-color: #b75403;
      color: #484732;
    }
    h1 {
      font-size: 7em;
      text-align: center;
      vertical-align: middle;
      font-weight: normal;
    }

hr {
  border-color: #1f7da5;
}
    .stop-looking-at-my-divs {
      margin-top: 15%;
    }

.no-really-please-stop {
    padding: 15%;
    
}
